Logs/

api/__pycache__/
api/temp.txt
api/test.py

Client/__pycache__/
Client/temp.txt
Client/test.py

Installer/__pycache__/
Installers/temp.txt
Installers/test.py

Srv/__pycache__/
Srv/temp.txt
Srv/test.py
